
<%= simple_form_for @listing do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address,
  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.input :price_per_hour %>
  <%= f.button :submit %>
<% end %>

<div data-controller="toggle" class="mt-5">
  <button class="btn btn-outline-primary" class="d-none">Add a new listing </button>
  <%= render "form", listing: @listing %>
</div>
