<h1><%= @listing.name %></h1>
<div class="card my-3">
  <div class="card-body">
        <p class="card-text me-3">Address: <%= @listing.address %></p>
        <p class="card-text me-3">Description: <%= @listing.description %></p>
        <p class="card-text me-3">Address: <%= @listing.price_per_hour %></p>
    </div>
  </div>


  <div class="card my-3 p-4">
    <h2>Reviews</h2>
    <hr>
    <% if @listing_reviews.any? %>
      <div class="card my-3">
        <div class="card-body">
          <% @listing_reviews.each do |review| %>
            <p class="card-text">Posted by: <%= review.user.first_name + review.user.last_name %></p>
            <p class="card-text">Rating: <%= review.rating %></p>
            <p class="card-text">Comment: <%= review.content %></p>
            <hr>
          <% end %>
        </div>
      </div>
      <% end %>
      <%# ToDo: change the new review path, new_listing_review_path(@listing), %>
    <%= link_to "+ Add a new review", listings_path, class: 'text-decoration-none mt-5' %>
  </div>
  <hr>
  <%= link_to "Back to list", listings_path, class: 'text-decoration-none mt-5' %>
