<h1><%= @listing.name %></h1>
<div class="card my-3">
  <div class="card-body">
        <p class="card-text me-3">Address: <%= @listing.address %></p>
        <p class="card-text me-3">Description: <%= @listing.description %></p>
        <p class="card-text me-3">Address: <%= @listing.price_per_hour %></p>
    </div>
  </div>



<% if @listing.user == current_user %>
  <%= button_to 'Edit Listing', edit_listing_path(@listing), class: 'btn btn-primary' %>
  <%= button_to 'Delete Listing', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
