<h1><%= @listing.name %></h1>
<div class="card my-3">
  <div class="card-body">
        <p class="card-text me-3">Address: <%= @listing.address %></p>
        <p class="card-text me-3">Description: <%= @listing.description %></p>
        <p class="card-text me-3">Address: <%= @listing.price_per_hour %></p>
    </div>
  </div>

  <div class="card my-5 p-4" data-controller="add-review">
    <h2>Reviews</h2>
    <hr>
    <% if @listing_reviews.any? %>
      <div class="card my-3">
        <div class="card-body" data-add-review-target="reviewsList">
          <% @listing_reviews.each do |review| %>
            <p class="card-text">Posted by: <%= review.user.first_name + review.user.last_name %></p>
            <p class="card-text">Rating: <%= review.rating %></p>
            <p class="card-text">Comment: <%= review.content %></p>
            <hr>
          <% end %>
        </div>
      </div>
      <% end %>
      <button type="button" class="btn btn-primary" data-action="click->add-review#showForm">
        Add a new review
      </button>

    <div class="review-form d-none" data-add-review-target="addReviewForm" >
      <%= render 'review_form', review: @review, listing: @listing, data: { add_review_target: "form" }  %>
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookingModal">
  Book listing
</button>

<!-- Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Book "<%= @listing.name %>"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <!-- ToDo: render new booking form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit request</button>
      </div>
    </div>
  </div>
</div>

<hr>
<%= link_to "Back to list", listings_path, class: 'text-decoration-none mt-5' %>
