<%= simple_form_for @listing do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price_per_hour %>
  <%= f.button :submit %>
<% end %>

<div data-controller="toggle" class="mt-5">
  <button class="btn btn-outline-primary">Add a new monument</button>
  <%= render "form", monument: @monument %>
</div>
